{% extends "base.html" %}
{% block body %}
    {% load static %}
    <script>
        var free_space = {{ available_space }};
    </script>
    <link rel="stylesheet" href="{% static "note_create.css" %}">
    <div id="progress_overlay" style="position: fixed; z-index: 100; background-color: rgba(0,0,0,0.8); width: 100%; height: 100%; top: 0; display: none; justify-content: center; align-items: center">
        <div class="w3-white" style="height: fit-content; width: 90%">
            <div id="progress_bar" class="w3-orange w3-center" style="width: 20%">20%</div>
        </div>
    </div>
    <input type="file" style="position: absolute; top: -100%" id="file_choose" multiple>
    <div style="margin: 20px">
        <div style="width: 100%; max-width: 800px; margin: auto">
            <div id="note_form">
                {% csrf_token %}
                <input class="w3-input w3-border" type="text" style="border-radius: 10px; font-size: 20pt" maxlength="70" name="title">
                <div id="error_no_title" class="w3-text-red error_message" style="display: none;">Note must have title</div>
                <div style="display: flex; align-items: center">
                    <div style="border-right: #ccc 1px solid; margin-right: 16px">
                        <i class="material-icons w3-button tool_bar_button" onclick="document.execCommand('bold', false)">
                            format_bold
                        </i>
                        <i class="material-icons w3-button tool_bar_button" onclick="document.execCommand('italic', false)">
                            format_italic
                        </i>
                        <i class="material-icons w3-button tool_bar_button" onclick="document.execCommand('underline', false)">
                            format_underlined
                        </i>
                        <i class="material-icons w3-button tool_bar_button" onclick="document.execCommand('removeFormat', false)">
                            format_clear
                        </i>
                        <i class="material-icons w3-button tool_bar_button" onclick="document.execCommand('insertUnorderedList', false)">
                            format_list_bulleted
                        </i>
                    </div>
                    <div class="w3-button" style="font-size: 14pt; flex-shrink: 0" onclick="event_add_todo_list(event)">
                        ToDoList
                    </div>
                </div>
                <div id="text_editor" style="width: 100%; height: 100%;font-size: 14pt; border:#ccc 1px solid; border-radius: 10px; min-height: 300px" contenteditable="true"></div>
                <div id="todo_list_list" style="display: flex; flex-wrap: wrap; justify-content: center"></div>
                <div id="file_list">
                    <div id="drop_zone"><i class="material-icons" style="font-size: 24pt;padding: 5px;">add</i><div id="drop_zone_overlay"></div></div>
                </div>
                <div id="error_no_space" class="w3-text-red error_message" style="display: none">Not enough space for files. Available: {{ available_space|filesizeformat }}</div>
                <label>Tags:</label>
                <div id="tag_list" style="display: flex; flex-wrap: wrap">
                    <input class="w3-input tag" name="tag0" type="text" list="tags" oninput="event_update_input_width()">
                    <div class="w3-center tag_add_button" onclick="addTag()">+</div>
                </div>
                <input id="tag_counter" type="hidden" value=1 name="tag_count">
                <input type="hidden" id="text_input" name="text">
                <input type="hidden" id="todo_list_count" name="todo_list_count">
                <button class="w3-button" onclick="submit(event)">Submit</button>
            </div>
        </div>
    </div>
    <div id="progress">0%</div>
    <datalist id="tags">
        {% for tag in tag_list %}
            <option value="{{ tag }}">
        {% endfor %}
    </datalist>

    <script src="{% static "note_create.js" %}"></script>
{% endblock %}