<div class="note w3-orange" style="padding: 0">
    <h2 style="padding: 0 16px; font-size: 24pt">
        <a style="text-decoration: none" href="{% url "notes:detail" note.id %}">{{ note.title }}</a>
    </h2>
    <div class="w3-white note_content">
        {% if note.text %}
            <hr class="hor_line">
        {% endif %}
        <div class="note_text" style="resize: none; width: 100%; height: 100%; padding: 0; border: none;font-size: 16pt">{{ note.text|safe }}</div>

        {% if note.todolist_set.all|length %}
            <hr class="hor_line">
        {% endif %}
        {% if note.todolist_set.all %}
        <div style="display: flex; flex-wrap: wrap; padding-bottom: 4px">
            {% for todo_list in note.todolist_set.all %}
                <table>
                    {% for todo_entry in todo_list.todoentry_set.all %}
                        <tr>
                            <td>
                                <input class="w3-check" type="checkbox" {% if todo_entry.is_complete %}checked{% endif %} onchange="mark_todo_entry({{ todo_entry.id }}, event.target)">
                            </td>
                            <td style="vertical-align: center">
                                {{ todo_entry.text }}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% endfor %}
        </div>
        {% endif %}


        {% if note.file_set.all|length%}
            <hr class="hor_line">
        {% endif %}

        <div style="display: flex; flex-wrap: wrap">
            {% load notes_extra %}
            {% for file in note.file_set.all %}
                <a target="_blank" style="text-decoration: none" href="{{ file.get_file_url }}" title="{{ file.name }}">
                {% if file.type == "img" %}
                    <div class="thumbnail_container">
                        {% if not file.is_gif %}
                        <img class="thumbnail" src="{{ file.get_file_thumbnail_url }}" alt="thumbnail for {{ file.name }}" style="font-size: small">
                        {% else %}
                        <img class="thumbnail" src="{{ file.get_file_url }}" alt="{{ file.name }}" style="font-size: small">

                        {% endif %}
                    </div>
                {% elif file.type == "file" %}
                    <div class="thumbnail_container">
                        <i class="material-icons thumbnail">insert_drive_file</i>
                        <div class="file_label">{{ file.name|short_file_label:25 }}</div>
                    </div>
                {% endif %}
                </a>
            {% endfor %}
        </div>
        {% if note.tags.all|length %}
            <hr class="hor_line">
        {% endif %}
            <div class="tag_list" style="align-items: flex-end">
                {% for tag in note.tags.all %}
                    <a href="/search?tags={{ tag.name|urlencode }}" style="text-decoration: none"><div class="tag">{{ tag.name }}</div></a>
                {% endfor %}
                <p style="text-align: right; font-size: 11px; color: grey; margin: 0; flex-grow: 1">{{ note.date_created|date:"d.m.y G:i" }}</p>
            </div>

        <div style="flex-grow: 1"></div>
        <!--<p style="text-align: right; font-size: 11px; color: grey; margin: 0">{{ note.date_created|date:"d.m.y G:i" }}</p>-->
    </div>
    {% if note_edit %}
        <div class="w3-button w3-orange w3-hover-orange hover_darker" style="width: 100%; border-radius: 0 0 9px 9px;"
                                     onclick="remove_note_post(event, {{ note.id }})">Delete</div>
    {% endif %}
</div>
