

.note{
    margin: 16px 5px;
    padding: 0 16px;
    max-width: 500px;
    height: fit-content;
    border: 1px #ccc solid;
    border-radius: 10px;
    word-break: break-all;
}
.hor_line{
    margin: 2px -16px;
    border-top: 1px #ccc solid
}
.tag_list{
    /*display: flex;
    flex-wrap: wrap;*/
    overflow: auto;
    padding: 10px 0;
}
.tag{
    font-size: 12pt;
    width: fit-content;
    padding: 7.5px;
    background: lightgrey;
    border-radius: 15px;
    margin: 2.5px 2.5px;
    float: left;
}
.hove_darker{
    filter: brightness(80%);
}

.tag:hover{
    filter: brightness(80%);
    cursor: pointer;
}
.tag:focus{
    outline: none;
}
p{
    margin: 0.25em 0;
}
.note_text{
    resize: none;
    width: 100%;
    height: 100%;
    padding: 0;
    border: none;
    font-size: 16pt;
}

.tag::-webkit-calendar-picker-indicator {
    display: none;
}

.note_list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.thumbnail_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow-wrap: break-word;
    width: 102px;
    height: 102px;
    margin: 5px;
    border: 1px #ccc solid;
    border-radius: 5px;
}
.thumbnail{
    padding: 1px;
    font-size: 40px!important;
    max-height: 100%;
    max-width: 100%;
}
.file_label{
    text-align: center;
    width: 100%;
    padding: 0 5px;
    font-size: 10pt;
    word-break: break-all;
}

@keyframes error_animation {
    from{
        background: rgba(255, 0, 5, 0.6);
    }
    to{
        background: none;
    }
}

.error_message{
    animation: error_animation;
    animation-duration: 1s;
}